<%- include('./partials/header') %>

<div class="banner position-relative">
  <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Maui_banner.jpg" alt="Banner Image" class="img-fluid"> -->
  <!-- <img src="https://wikitravel.org/upload/shared//d/d9/New_Jersey_Banner.jpg" alt="Banner Image" class="img-fluid"> -->
  <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Hanauma_Bay_Hawaii_banner.jpg" alt="Banner Image" class="img-fluid"> -->
  <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Cidade_Maravilhosa.jpg/2560px-Cidade_Maravilhosa.jpg" alt="Banner Image" class="img-fluid"> -->
  

  <div class="position-absolute top-50 start-50 translate-middle p-3 p-md-5 m-md-3 text-center">
    <h1 class="display-4 font-weight-bold"><%= title %></h1>
  </div>
</div>


<div
  id="myCarousel"
  class="carousel slide mb-6"
  data-bs-ride="carousel"

>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <!-- <rect width="100%" height="100%"/> -->
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h2>
            SyncedIn: Your Gateway to Seamless Career Connections and
            Synchronized Success
          </h2>
          <p >
            Welcome to SyncedIn, where job seekers and employers come together
            for seamless career connections. <br />
            Whether you're seeking your dream job or searching for the perfect
            candidate, SyncedIn is here to synchronize your ambitions and
            opportunities. <br />
            At SyncedIn, we understand that finding the right job or the ideal
            employee can be a daunting task. That's why we've created a platform
            that harnesses the power of advanced technology and human expertise
            to bring job seekers and employers into perfect alignment. <br />
            We strive to create a harmonious synergy that leads to long-lasting
            and fulfilling professional relationships. <br />
            Let us help you find your next big career move or discover the
            perfect addition to your team.Together, let's synchronize success!
          </p>

          <p><a class="btn btn-lg" href="/auth/google" id="buttons">Sign up today</a></p>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <!-- <rect width="100%" height="100%"/> -->
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h2>
            Empowering Your Career Journey: Discover Meaningful Opportunities
            with SyncedIn
          </h2>
          <p>
            At Synced, we are dedicated to helping job seekers like you find the
            perfect opportunity. With our extensive network of reputable
            employers, personalized guidance, and industry expertise, we connect
            you with meaningful and fulfilling career prospects. Trust us to
            navigate the job market with you, ensuring you land the job that
            aligns with your skills, aspirations, and growth potential.
          </p>

          <p><a class="btn btn-lg" href="/jobs" id="buttons">View Jobs</a></p>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)" /> -->
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h2>
            Transforming Recruitment: Unleash the Power of Exceptional Talent
            Acquisition with SyncedIn
          </h2>
          <p>
            At SyncedIn, we specialize in delivering exceptional recruiting
            solutions tailored to your unique needs. Our team of experienced
            recruiters utilizes cutting-edge technology and a comprehensive
            network to identify and attract top talent for your organization.
            With our streamlined processes, personalized approach, and
            commitment to excellence, we will help you build a skilled and
            high-performing team that drives your business forward.
          </p>

          <p><a class="btn btn-lg " href="/users/seekers" id="buttons">Find Talent</a></p>

        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br><br><br><br>
<div class="container marketing seekers">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%   const randomSeeker = [];
      const numRandomSeekers = Math.min (users.length, 3)
      while (randomSeeker.length < numRandomSeekers) {
        const randomNum = Math.floor(Math.random() * users.length);
        if (!randomSeeker.includes(randomNum)) {
          randomSeeker.push(randomNum);
        }
      };
      %>
      <image 
      class="rounded-circle border-custom"
      alt="avatar"
      src="<%= randomSeeker[0] != null ? users[randomSeeker[0]].avatar:'' %>"
      referrerpolicy="no-referrer"
      />
      <h2 class="fw-normal"><%= randomSeeker[0] != null ? users[randomSeeker[0]].name:'' %></h2>
      <p><%= randomSeeker[0] != null ? users[randomSeeker[0]].about:'' %></p>
      <p>

        <a class="btn" href="/users/<%= randomSeeker[0] != null ? users[randomSeeker[0]]._id:'' %>"
          id="buttons">View details &raquo;</a

        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <image
      class="rounded-circle border-custom"
      alt="avatar"
      src="<%= randomSeeker[1] != null ? users[randomSeeker[1]].avatar:'' %>"
      referrerpolicy="no-referrer"
     />
      <h2 class="fw-normal"><%= randomSeeker[1] != null ? users[randomSeeker[1]].name:'' %></h2>
      <p><%= randomSeeker[1] != null ? users[randomSeeker[1]].about:'' %></p>
      <p>

        <a class="btn" href="/users/<%= randomSeeker[1] != null ? users[randomSeeker[1]]._id:'' %>"
          id="buttons" >View details &raquo;</a

        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <image
      id=""
      class="rounded-circle border-custom"
      alt="avatar"
      src="<%= randomSeeker[2] != null ? users[randomSeeker[2]].avatar:'' %>"
      referrerpolicy="no-referrer"
      
      />
      <h2 class="fw-normal"><%= randomSeeker[2] != null ? users[randomSeeker[2]].name:'' %></h2>
      <p><%= randomSeeker[2] != null ? users[randomSeeker[2]].about:'' %></p>
      <p>
        <a class="btn btn-style" href="/users/<%= randomSeeker[2] != null ? users[randomSeeker[2]]._id:'' %>"
          id="buttons" >View details &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        <%   const randomJobs = [];
        const numRandomJobs = Math.min (jobs.length, 3)
        while (randomJobs.length < numRandomJobs) {
          const randomNum = Math.floor(Math.random() * jobs.length);
          
          if (!randomJobs.includes(randomNum)) {
            randomJobs.push(randomNum);
          }
        };
        %>
        <%= randomJobs[0] != null ? jobs[randomJobs[0]].company:'' %>
      </h2>

      <h3><span><%= randomJobs[0] != null ? jobs[randomJobs[0]].title:'' %></p></span>

      </h3>
      <p class="lead"><%= randomJobs[0] != null ? jobs[randomJobs[0]].description:'' %></p>
      <a class="btn" href="/jobs/<%= randomJobs[0] != null ? jobs[randomJobs[0]]._id:'' %>"
        id="buttons">View details &raquo;</a>
    </div>
    <div class="col-md-5">
    <image
      width="300"
      height="300"
      fill="var(--bs-secondary-bg)"
      alt="avatar"
      src="<%= randomJobs[0] != null ? jobs[randomJobs[0]].image:'' %>"
      referrerpolicy="no-referrer"
    />   
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        <%= randomJobs[1] != null ? jobs[randomJobs[1]].company:'' %>
      </h2>
      <h3><span><%= randomJobs[1] != null ? jobs[randomJobs[1]].title:'' %></p></span>

      </h3>
      <p class="lead"><%= randomJobs[1] != null ? jobs[randomJobs[1]].description:'' %></p>
      <a class="btn" href="/jobs/<%= randomJobs[1] != null ? jobs[randomJobs[1]]._id:'' %>"
        id="buttons">View details &raquo;</a>  
    </div>   
    <div class="col-md-5 order-md-1">
      <image class="job-image"
      width="300"
      height="300"
      fill="var(--bs-secondary-bg)"
      alt="avatar"
      
      src="<%= randomJobs[1] != null ? jobs[randomJobs[1]].image:'' %>"
      referrerpolicy="no-referrer"
    />   
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        <%= randomJobs[2] != null ? jobs[randomJobs[2]].company:'' %>
      </h2>

      <h3><span ><%= randomJobs[2] != null ? jobs[randomJobs[2]].title:'' %></p></span>

      </h3>
      <p class="lead"><%= randomJobs[2] != null ? jobs[randomJobs[2]].description:'' %></p>
      <a class="btn" href="/jobs/<%= randomJobs[2] != null ? jobs[randomJobs[2]]._id:'' %>"
        id="buttons">View details &raquo;</a>  
    </div>    
    <div class="col-md-5">
      <image
      width="300"
      height="300"
      fill="var(--bs-secondary-bg)"
      alt="avatar"
      src="<%= randomJobs[2] != null ? jobs[randomJobs[2]].image:'' %>"
      referrerpolicy="no-referrer"
    />   
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<%- include('./partials/footer') %>

