<%- include('../partials/header') %>

<div class="container mt-5 mb-3 table">
  <div class="row">
    <% jobs.forEach(function(job) { %>
    <div class="col-md-4">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><i class="bx bxl-mailchimp"></i></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0"><%= job.company %></h6>
              <span><%= job.startDate %> </span>
            </div>
          </div>
          <!-- <div class="skills"> <span><%= job.skills %></span> </div> -->
        </div>
        <div class="mt-5">
          <h4 class="heading"><%= job.title %><br /><%= job.location %></h4>
          <div class="mt-5">
            <div class="mt-5">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: <%= job.heatmap %>%"
                  aria-valuenow="<%= job.heatmap %>"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div class="mt-3">
                <span class="text1"
                  ><%= job.heatmap %>
                  <span class="text2"> Sync Rating </span></span
                >
              </div>
              <br>
              <div><a href="/jobs/<%= job._id %>/seekers" class="btn" id="buttons">Seekers</a></div>
              <br><br>
              <div><a href="/jobs/<%= job._id %>" class="btn btn-info">Details</a></div>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <%- include('../partials/footer') %>
</div>
