<%- include('../partials/header') %>
<br><br>
<blockquote class="blockquote text-center">
  <p class="mb-0">You're gonna like the person you hire, I guarantee it.</p>
  <br>
  <footer class="blockquote-footer">The Men's Warehouse guy, probably.</cite></footer>
</blockquote><br><br>
<h2 class="cent">List of Job Seekers</h2>
<div class="container mt-5 mb-3">
<table class="table table-primary rounded overflow-hidden" class="border border-primary">
  <tbody>
    <% users.forEach (function (u) { %>
    <tr>
      <td class="review-user">
        <img
          alt="avatar"
          src="<%= u.avatar %>"
          referrerpolicy="no-referrer"
        />&nbsp; &nbsp;<%= u.name %>
      </td>
      <td>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: <%= u.heatmap %>%"
              aria-valuenow="<%= u.heatmap %>"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
      </td>
      <td><a href="/users/<%= u._id %>/job/<%= job_id %>" id="buttons" class="btn">Profile</a></td>

    </tr>
    <% }) %>
  </tbody>
</table>
</div>
<%- include('../partials/footer') %>