<%- include('../partials/header', { title: 'Job Details' }) %>

<h1>Job Details</h1>

<section id="show-page">
  <div>Company:</div>
  <div><%= job.company %></div>
  <div>Title:</div>
  <div><%= job.title %></div>
  <div>Salary:</div>
  <div><%= job.wage %></div>
  <div>Location:</div>
  <div><%= job.location %></div>
  <div>Start Date:</div>
  <div><%= job.startDate %></div>
  <div>Description:</div>
  <div><%= job.description %></div>
  <div>Skills Match:</div>
  <table
    class="table table-hover table-primary rounded overflow-hidden"
    class="border border-primary"
  >
    <caption>
      List of Job Skills
    </caption>
    <tbody>
      <% heatmap.forEach((h) => { %>
      <tr>
        <td><%= h.jobSkill %></td>
        <td>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: <%= h.closeness %>%"
              aria-valuenow="<%= h.closeness %>"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Job</button>
  </form>

  <a href='/jobs/<%= job._id %>/edit'>Edit Job</a>


  <%- include('../partials/footer') %>
</section>
