<%- include('../partials/header', { title: 'Job Details' }) %>

<h1>Job Details</h1>

<section id="show-page">

  <div class="card p-3 mb-2">
    <div class="row">
      <div class="col-md-6">
        <div class="details">
          <div class="title">Company:</div>
          <div class="value"><%= job.company %></div>
          <div class="title">Title:</div>
          <div class="value"><%= job.title %></div>
          <div class="title">Salary:</div>
          <div class="value"><%= job.wage %></div>
          <div class="title">Location:</div>
          <div class="value"><%= job.location %></div>
          <div class="title">Start Date:</div>
          <div class="value"><%= job.startDate %></div>
          <div class="title">Description:</div>
          <div class="value"><%= job.description %></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="details">
          <div class="title">Skills Match:</div>
          <table class="table table-hover table-primary rounded overflow-hidden border border-primary">
            <caption>List of Job Skills</caption>
            <tbody>
              <% if (heatmap) { heatmap.forEach((h) => { %>
              <tr>
                <td><%= h.jobSkill %></td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: <%= h.closeness %>%"
                      aria-valuenow="<%= h.closeness %>"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
              </tr>
              <% })} %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<% if (poster && user && poster._id.equals(user._id)) { %>
      <a href='/jobs/<%= job._id %>/edit' class="btn btn-primary">Edit Job</a>
    <br><br>
    <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete Job</button>
    </form>
  <% } %>

</section>

<%- include('../partials/footer') %>
