<%- include('../partials/header') %>
<br><br>
<h2>Users List</h2><br>
<table id="table-complete">
  <thead>
    <tr id="table-css" class="table-ccs-first">
      <th><h5 class="cent">Name</h5></th>
      <th><h5 class="cent">GoogleId</h5></th>
      <th><h5 class="cent">eMail</h5></th>
      <th><h5 class="cent">Seeker</h5></th>
      <th><h5 class="cent">Poster</h5></th>
      <th><h5 class="cent">Admin</h5></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach (function (u) { %>
    <tr>
      <td class="review-user" id="table-css">
        <img
          alt="avatar"
          src="<%= u.avatar %>"
          referrerpolicy="no-referrer"
        /><%= u.name %>
      </td>
      <td id="table-css"><%= u.googleId %></td>
      <td id="table-css"><%= u.email %></td>
      <form action="/users/<%= u._id %>?_method=PUT" method="POST">

        <td id="table-css">
          <input type="checkbox" class="role" name="roleSeeker" <%=
          u.roleSeeker ? 'checked' : ''%>/> Seeker
        </td>
        <td id="table-css">
          <input type="checkbox" class="role" name="rolePoster" <%=
          u.rolePoster ? 'checked' : ''%>/>Poster
        </td>
        <td id="table-css">
          <input type="checkbox" class="role" name="roleAdmin" <%=
          u.roleAdmin ? 'checked' : ''%>/>Admin
        </td>
        <td id="table-css"><button id="buttons">Update</button></td>
      </form>
    </tr>
    <% }) %>
  </tbody>
</table>
<br>

<%- include('../partials/footer') %>
