<%- include('../partials/header') %>

<container class="container"
  ><img
    alt="avatar"
    src="<%= user.avatar %>"
    referrerpolicy="no-referrer"
    class="rounded-circle"
  />&nbsp; &nbsp; | &nbsp; &nbsp;<%= user.name %></container
>
<br /><br />

<h2 class="h2">About</h2>

<% if (user.about) { %>
  <div>
  <p><%= user.about %></p>
  <button id="bioEditButton" class="btn btn-primary">Edit</button>
  </div>
<% } %>

<br><br>

<form id="bioEditForm" action="/users/profile/update" method="POST" <% if (user.about) { %>style="display: none;"<% } %>>
  <div class="input-group border border-dark rounded">
    <textarea
      name="about"
      class="form-control"
      aria-label="With textarea"
      placeholder="Biography or Brand Statement"
    ></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



<%- include('../partials/footer') %>
