<%- include('../partials/header') %>

<container class="container"
  ><img
    alt="avatar"
    src="<%= user.avatar %>"
    referrerpolicy="no-referrer"
    class="rounded-circle"
  />&nbsp; &nbsp; | &nbsp; &nbsp;<%= user.name %></container
>
<br /><br />

<h2 class="h2">About</h2>

<% if (user.about) { %>
  <div>
  <p><%= user.about %></p>
  <button id="bioEditButton" class="btn btn-primary">Edit</button>
  </div>
<% } %>

<br><br>

<form id="bioEditForm" action="/users/profile/update" method="POST" <% if (user.about) { %>style="display: none;"<% } %>>
  <div class="input-group border border-dark rounded">
    <textarea
      name="about"
      class="form-control"
      aria-label="With textarea"
      placeholder="Biography or Brand Statement"
    ></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (user.seeker?.skills) { %>
  <div>
    <label for="skills">Skills</label>
  <p><%= user.seeker.skills %></p>
  <button id="skillsEditButton" class="btn btn-primary">Edit</button>
  </div>
<% } %>

<form id="skillsEditForm" <% if (!user.seeker?.skills) { %> action="/users/profile/update?_method=PUT" method="POST" <% } %> <% if (user.seeker?.skills ) { %> action="/users/profile/update" method="POST" <% } %> <% if (user.seeker?.skills) { %>style="display: none;"<% } %>>

  <div class="input-group border border-dark rounded">
    <textarea
      name="skills"
      class="form-control"
      aria-label="With textarea"
      placeholder="Separate each skill with a comma!"
    ></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><br>
<form action="/users/profile/delete?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-danger">Delete Profile</button>
</form>

<%- include('../partials/footer') %>
